<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Title and nav links -->
    <header class="header-content">
        <h2>ExtremeShopz</h2>
        <nav class="nav-links">
            <a href="index.html">HOME</a>
            <a href="cart.html">CART (<span id="cart-count-badge">0</span>)</a>
            <a href="delivery.html">DELIVERY</a>
            <a href="#">CONTACT</a>
        </nav>
    </header>


    <!-- Search form and button -->
    <div class="filter-controls">
        <!-- Search Input -->
        <input type="text" class="search-input" id="search-input" placeholder="Search Products...">

        <!-- Category dropdown -->
         <select class="category-filter" id="category-filter">
            <option value="All">All Categories</option>
            <option value="Electronics">Electronics</option>
            <option value="Fashion">Fashion</option>
            <option value="Home">Home</option>
         </select>
    </div>

    <!-- Main container to display the products -->
    <h3 class="grid-title">Products</h3>
    <main id="product-grid" class="product-grid">
        <div id="product2" class="product-card">
            <div class="image-wrapper">
                <img src="../static/p1.jpeg" alt="image 1">
            </div>
            <div class="product-info">
                <h3 class="product-name">Product 1</h3>
                <p class="product-price">₹2,499</p>
                <p class="product-rating">⭐ 4.5 (120 reviews)</p>
                <p class="product-delivery">FREE delivery by <b>Tomorrow</b></p>
                <!-- FIXED: Price passed as number 2499, and image path corrected -->
                 <button class="buy-btn" id="buy-now-btn">
                    Buy
                 </button>
                <button class="add-to-cart-btn" onclick="addToCart('p1', 'Product 1', 2499, '../static/p1.jpeg')">
                    Add to Cart
                </button>
            </div>
        </div>
    </main>

    <script src="/static/global.js"></script>
    <script src="/static/products.js"></script>
    <script src="/static/buy.js"></script>
</body>
</html>
