<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header-content">
        <h2>ExtremeShopz</h2>
        <nav class="nav-links">
            <a href="#">HOME</a>
            <a href="#">CART</a>
            <a href="#">ABOUT</a>
        </nav>
    </header>

    <div class="categories">
            <span>household</span>
            <span>skincare</span>
            <span>appliances</span>
            <span>kids</span>
    </div>

    <div id="search-btn" class="search-btn">
            <input id="input-form" type="text" placeholder="search...">
    </div>

    <div class="container">
        <div class="products-display" id="products-display">
            <div id="product" class="individual-product">
                <!-- Going to inject it using JS later -->
            </div>
        </div>

        <div class="footer-content">
            <footer>footer content</footer>
        </div>
    </div>
</body>
</html>