<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Title and nav links -->
    <header class="header-content">
        <h2>ExtremeShopz</h2>
        <nav class="nav-links">
            <a href="#">HOME</a>
            <a href="#">CART</a>
            <a href="#">CONTACT</a>
        </nav>
    </header>

    <!-- categories -->
    <div class="categories">
            <span>household</span>
            <span>skincare</span>
            <span>appliances</span>
            <span>kids</span>
    </div>

    <!-- Search form and button -->
    <div id="search-form" class="search-form">
            <input id="input-form" type="text" placeholder="search...">
            <span class="search-btn"><button id="search-btn">search</button></span>
    </div>

    <!-- Main container to display the products -->
     <h3 class="grid-title">Products</h3>
    <main class="product-grid">


            <div id="product" class="product-card">
                <div class="image-wrapper">
                <img src="../static/p1.jpeg" alt="image 1">
                </div>
                <div class="product-info">
                    <div class="add-del-cart">
                    <span><button id="remove-cart" class="remove-cart">remove item </button></span>
                    <span><button id="add-cart" class="add-cart">add to cart</button></span>
                    </div>
                    <h3 class="product-name">Product 1</h3>
                    <p class="product-price">₹2,499</p>
                    <p class="product-rating">⭐ 4.5 (120 reviews)</p>
                    <p class="product-delivery">FREE delivery by <b>Tomorrow</b></p>
                </div>
            </div>
            <div id="product" class="product-card">
                <div class="image-wrapper">
                <img src="../static/p2.jpeg" alt="image 1">
                </div>
                <div class="product-info">
                    <div class="add-del-cart">
                    <span><button id="remove-cart" class="remove-cart">remove item </button></span>
                    <span><button id="add-cart" class="add-cart">add to cart</button></span>
                    </div>
                    <h3 class="product-name">Product 1</h3>
                    <p class="product-price">₹2,499</p>
                    <p class="product-rating">⭐ 4.5 (120 reviews)</p>
                    <p class="product-delivery">FREE delivery by <b>Tomorrow</b></p>
                </div>
            </div>
            <div id="product" class="product-card">
                <div class="image-wrapper">
                <img src="../static/p3.jpeg" alt="image 1">
                </div>
                <div class="product-info">
                    <div class="add-del-cart">
                    <span><button id="remove-cart" class="remove-cart">remove item </button></span>
                    <span><button id="add-cart" class="add-cart">add to cart</button></span>
                    </div>
                    <h3 class="product-name">Product 1</h3>
                    <p class="product-price">₹2,499</p>
                    <p class="product-rating">⭐ 4.5 (120 reviews)</p>
                    <p class="product-delivery">FREE delivery by <b>Tomorrow</b></p>
                </div>
            </div>
            <div id="product" class="product-card">
                <div class="image-wrapper">
                <img src="../static/p4.jpeg" alt="image 1">
                </div>
                <div class="product-info">
                    <div class="add-del-cart">
                    <span><button id="remove-cart" class="remove-cart">remove item </button></span>
                    <span><button id="add-cart" class="add-cart">add to cart</button></span>
                    </div>
                    <h3 class="product-name">Product 1</h3>
                    <p class="product-price">₹2,499</p>
                    <p class="product-rating">⭐ 4.5 (120 reviews)</p>
                    <p class="product-delivery">FREE delivery by <b>Tomorrow</b></p>
                </div>
            </div>
            <div id="product" class="product-card">
                <div class="image-wrapper">
                <img src="../static/p5.jpeg" alt="image 1">
                </div>
                <div class="product-info">
                    <div class="add-del-cart">
                    <span><button id="remove-cart" class="remove-cart">remove item </button></span>
                    <span><button id="add-cart" class="add-cart">add to cart</button></span>
                    </div>
                    <h3 class="product-name">Product 1</h3>
                    <p class="product-price">₹2,499</p>
                    <p class="product-rating">⭐ 4.5 (120 reviews)</p>
                    <p class="product-delivery">FREE delivery by <b>Tomorrow</b></p>
                </div>
            </div>
            <div id="product" class="product-card">
                <div class="image-wrapper">
                <img src="../static/p6.jpeg" alt="image 1">
                </div>
                <div class="product-info">
                    <div class="add-del-cart">
                    <span><button id="remove-cart" class="remove-cart">remove item </button></span>
                    <span><button id="add-cart" class="add-cart">add to cart</button></span>
                    </div>
                    <h3 class="product-name">Product 1</h3>
                    <p class="product-price">₹2,499</p>
                    <p class="product-rating">⭐ 4.5 (120 reviews)</p>
                    <p class="product-delivery">FREE delivery by <b>Tomorrow</b></p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>